<div class="terminal-nav">
  <div class="terminal-logo">
    <div class="logo terminal-prompt"><a href="/" class="no-style">qbop</a></div>
  </div>
  <nav class="terminal-menu">
    <ul>
      <li><a class="menu-item active" href="/">stats</a></li>
      <li><a class="menu-item" href="/api-docs">api</a></li>
      <li><a class="menu-item" href="/logs">logs</a></li>
      <li><a class="menu-item" href="/about">about</a></li>
    </ul>
  </nav>
</div>
<% if @update_available %>
<div class="terminal-alert terminal-alert-primary"><a href="https://github.com/clajiness/qbop/releases" target="_blank">an update is available:</a> <a href="https://github.com/clajiness/qbop/releases/tag/<%= @recent_tag %>" target="_blank"><%= @recent_tag %></a></div>
<% end %>
<hr>

<button class="btn btn-default btn-ghost" onClick="window.location.reload()">refresh</button><br><br>

<h4><em>protonvpn</em> <%= @proton_connected ? '<span class="green-dot"></span>' : '<span class="red-dot"></span>' %></h4>
<blockquote>
  current port: <%= @stats['proton_current_port'] %><br>
  last changed: <%= @stats['proton_updated_at'] %><br>
  last checked: <%= @stats['proton_last_checked'] %><br>
  &#916;: <%= @proton_delta %>
</blockquote>

<h4><em>opnsense</em> <%= @opn_connected ? '<span class="green-dot"></span>' : '<span class="red-dot"></span>' %></h4>
<blockquote>
  <% if @opn_skip %>
  skipped per the OPN_SKIP ENV variable
  <% else %>
  current port: <%= @stats['opn_current_port'] %><br>
  last changed: <%= @stats['opn_updated_at'] %><br>
  last checked: <%= @stats['opn_last_checked'] %><br>
  &#916;: <%= @opn_delta %>
  <% end %>
</blockquote>

<h4><em>qbittorrent</em> <%= @qbit_connected ? '<span class="green-dot"></span>' : '<span class="red-dot"></span>' %></h4>
<blockquote>
  <% if @qbit_skip %>
  skipped per the QBIT_SKIP ENV variable
  <% else %>
  current port: <%= @stats['qbit_current_port'] %><br>
  last changed: <%= @stats['qbit_updated_at'] %><br>
  last checked: <%= @stats['qbit_last_checked'] %><br>
  &#916;: <%= @qbit_delta %>
  <% end %>
</blockquote>
<hr>

<h4><em>longest time on same port</em></h4>
<blockquote>
  proton: <%= @proton_longest_time_on_same_port %><br>
  opnsense: <%= @opn_longest_time_on_same_port %><br>
  qbittorrent: <%= @qbit_longest_time_on_same_port %>
</blockquote>

<button class="btn btn-default btn-ghost" onClick="window.location.reload()">refresh</button><br><br>
